  <body class="bg-tertiary-950">

    <!-- banner內容滾動 -->
    <div id="movieCarousel" class="carousel slide mb-8" data-bs-ride="carousel">
      <div class="carousel-inner position-relative">
        <div class="carousel-item active">
          <img src="../assets/images/John wick 2.png" class="d-block w-100 carousel-img" alt="John wick">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/unknown perspective.jpg" class="d-block w-100 carousel-img" alt="unknown perspective">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/squid game 2.jpg" class="d-block w-100 carousel-img" alt="squid game">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/la la land (2).png" class="d-block w-100 carousel-img" alt="la la land">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/the substance.png" class="d-block w-100 carousel-img" alt="the substance">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/solo leveling.png" class="d-block w-100 carousel-img" alt="solo leveling">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
        <div class="carousel-item">
          <img src="../assets/images/superman.png" class="d-block w-100 carousel-img" alt="superman">
          <div class="carousel-gradient"></div><!-- 底部黑色漸層遮罩 -->
        </div>
      </div>

      <!-- 指示點 -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="5"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="6"></button>
        <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="7"></button>
      </div>

      <!-- 左右切換箭頭 -->
      <button class="carousel-control-prev opacity-0 transition" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next opacity-0 transition" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    
    <!-- <div class="container"> -->
    <div class="container bottom-padding right-padding fw-light">
      <!-- 分類按鈕 -->
      <div class="py-4 mb-8 ">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item" role="presentation">
            <input type="radio" class="btn-check" name="category" id="movie" autocomplete="off" checked>
            <label class="nav-link rounded-pill px-5" for="movie">電影</label>
          </li>
          <li class="nav-item" role="presentation">
            <input type="radio" class="btn-check" name="category" id="series" autocomplete="off">
            <label class="nav-link rounded-pill px-5" for="series">影集</label>
          </li>
          <li class="nav-item" role="presentation">
            <input type="radio" class="btn-check" name="category" id="anime" autocomplete="off">
            <label class="nav-link rounded-pill px-5" for="anime">動畫</label>
          </li>
        </ul>
      </div>


      <!-- 繼續觀看 -->
      <div class="mb-8">
        <h6 class="fw-normal text-white mb-5">繼續觀看</h6 >
        <!-- 影片輪播 (水平捲動) -->
        <div class="d-flex overflow-auto pb-2">
          <!-- 卡片  -->
          <div class="card bg-card text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 149px; flex-shrink: 0;">
            <div class="position-relative" style="height: 90px;">
              <img src="../assets/images/friends8.png" class="w-100 h-100 object-fit-cover" alt="friends">
              <div class="carousel-gradient-card"></div><!-- 底部黑色漸層遮罩 -->
              <!-- 播放按鈕 -->
              <div class="position-absolute top-50 start-50 translate-middle">
                <img src="../assets/images/Play.png" alt="camera" width="32" height="32">
              </div>
              <!-- 播放進度時間 -->
              <span class="badge position-absolute bottom-0 start-0">S3:E8</span>
            </div>
            <!-- 進度條 -->
            <div class="progress bg-tertiary-400" style="height: 2px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 20%;"></div>
            </div>
            <!-- 影片說明 -->
            <div class="card-body d-flex justify-content-between align-items-center p-2" style="height: 28px;">
              <span class="fs-10">六人行</span>
              <span class="material-icons-outlined small">chevron_right</span>
            </div>
          </div>

          <!-- 卡片  -->
          <div class="card bg-card text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 149px; flex-shrink: 0;">
            <div class="position-relative" style="height: 90px;">
              <img src="../assets/images/the danish girl.jpg" class="w-100 h-100 object-fit-cover" alt="the danish girl">
              <div class="carousel-gradient-card"></div><!-- 底部黑色漸層遮罩 -->
              <div class="position-absolute top-50 start-50 translate-middle">
                <img src="../assets/images/Play.png" alt="camera" width="32" height="32">
              </div>
              <span class="badge position-absolute bottom-0 start-0">S3:E8</span>
            </div>
            <div class="progress bg-tertiary-400" style="height: 2px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 20%;"></div>
            </div>
            <div class="card-body d-flex justify-content-between align-items-center p-2" style="height: 28px;">
              <span class="fs-10">丹麥女孩</span>
              <span class="material-icons-outlined small">chevron_right</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-card text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 149px; flex-shrink: 0;">
            <div class="position-relative" style="height: 90px;">
              <img src="../assets/images/fantastic beasts.jpg" class="w-100 h-100 object-fit-cover" alt="fantastic beasts">
              <div class="carousel-gradient-card"></div><!-- 底部黑色漸層遮罩 -->
              <div class="position-absolute top-50 start-50 translate-middle">
                <img src="../assets/images/Play.png" alt="camera" width="32" height="32">
              </div>
              <span class="badge position-absolute bottom-0 start-0">S3:E8</span>
            </div>
            <div class="progress bg-tertiary-400" style="height: 2px;">
              <div class="progress-bar bg-white" role="progressbar" style="width: 20%;"></div>
            </div>
            <div class="card-body d-flex justify-content-between align-items-center p-2" style="height: 28px;">
              <span class="fs-10">怪獸與牠們的產地</span>
              <span class="material-icons-outlined small">chevron_right</span>
            </div>
          </div>
        </div>
        
      </div>

      <!-- 學過的都演給你看 -->
      <div class="mb-8">
        <div class="d-flex justify-content-between align-items-center mb-5"> 
          <h6 class="fw-normal text-white mb-0">學過的都演給你看</h6>
          <a href="#" class="d-flex align-items-center text-white text-decoration-none small">
            <span class="fw-normal">更多</span>
            <span class="material-icons-outlined">chevron_right</span>
          </a>
        </div>
        <!-- 影片輪播 (水平捲動) -->
        <div class="d-flex overflow-auto pb-2 fw-light">
      

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/2012.jpg" class="w-100 h-100 object-fit-cover" alt="2012">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">2012</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/kpop demon hunters.jpg" class="w-100 h-100 object-fit-cover" alt="kpop demon hunters">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">Kpop獵魔女團</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/coldplay.jpg" class="w-100 h-100 object-fit-cover" alt="coldplay">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">ColdPlay紀錄片</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/san andreas.jpg" class="w-100 h-100 object-fit-cover" alt="san andreas">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">大加州地震</span>
            </div>
          </div>
        </div>
      </div>

      <!-- 歷史紀錄 -->
      <div class="mb-8">
        <div class="d-flex justify-content-between align-items-center mb-5"> 
          <h6 class="fw-normal text-white mb-0">歷史紀錄</h6>
          <a href="#" class="d-flex align-items-center text-white text-decoration-none small">
            <span class="fw-normal">更多</span>
            <span class="material-icons-outlined">chevron_right</span>
          </a>
        </div>
        <!-- 影片輪播 (水平捲動) -->
        <div class="d-flex overflow-auto pb-2 fw-light">
      

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/you.jpg" class="w-100 h-100 object-fit-cover" alt="you">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">安眠書店</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/joker.jpg" class="w-100 h-100 object-fit-cover" alt="joker">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">小丑</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/maze runner.jpg" class="w-100 h-100 object-fit-cover" alt="maze runner">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">移動迷宮</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/house md.png" class="w-100 h-100 object-fit-cover" alt="house md">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">怪醫豪斯</span>
            </div>
          </div>

        </div>
      </div>

      <!-- 十大熱播排行 -->
      <div class="mb-8">
        <div class="d-flex justify-content-between align-items-center mb-5"> 
          <h6 class="fw-normal text-white mb-0">十大熱播排行</h6>
          <a href="#" class="d-flex align-items-center text-white text-decoration-none small">
            <span class="fw-normal">更多</span>
            <span class="material-icons-outlined">chevron_right</span>
          </a>
        </div>
        <!-- 影片輪播 (水平捲動) -->
        <div class="d-flex overflow-auto pb-2  fw-light">
      

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/squid game 3.jpg" class="w-100 h-100 object-fit-cover" alt="squid game 3">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">魷魚遊戲</span>
            </div>
          </div>

          <!-- 卡片(有加連結) -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/friends10.png" class="w-100 h-100 object-fit-cover" alt="friends">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">六人行</span>
              <a href="album.html" class="stretched-link"></a>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/we.jpg" class="w-100 h-100 object-fit-cover" alt="we">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">我們</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/sex education.png" class="w-100 h-100 object-fit-cover" alt="sex education">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">性愛自修室</span>
            </div>
          </div>


                    <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/you.jpg" class="w-100 h-100 object-fit-cover" alt="you">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">安眠書店</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/joker.jpg" class="w-100 h-100 object-fit-cover" alt="joker">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">小丑</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/maze runner.jpg" class="w-100 h-100 object-fit-cover" alt="maze runner">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">移動迷宮</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/house md.png" class="w-100 h-100 object-fit-cover" alt="house md">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">怪醫豪斯</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/kpop demon hunters.jpg" class="w-100 h-100 object-fit-cover" alt="kpop demon hunters">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">Kpop獵魔女團</span>
            </div>
          </div>

          <!-- 卡片 -->
          <div class="card bg-transparent text-white border-0 rounded-2 me-5 overflow-hidden" style="width: 90px; flex-shrink: 0;">
            <div class="position-relative mb-1" style="height: 130px;">
              <img src="../assets/images/coldplay.jpg" class="w-100 h-100 object-fit-cover" alt="coldplay">
            </div>
            <div class="card-body p-0">
              <span class="fs-10">ColdPlay紀錄片</span>
            </div>
          </div>

        </div>
      </div>

    </div>
    
  

    <script type="module" src="../main.js"></script>
  </body>