<body class="bg-tertiary-950">


<div class="container bottom-padding">

  <!-- 搜尋框 -->
  <div class="py-3">
    <div class="input-group rounded-pill px-3 bg-tertiary-900 py-1">
      <!-- 搜尋 icon -->
      <span class="input-group-text bg-transparent border-0 pe-2">
        <img src="../assets/images/search.svg" alt="search" width="20" height="20">
        <p class="text-netural-500 ms-1 fs-9">搜尋想看的影片</p>
      </span>
    </div>
  </div>
  
  <!-- 熱門下拉選單 -->
  <div class="d-flex gap-6 text-white my-6 fw-light">
    
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle p-0 border-0 bg-transparent text-white custom-toggle fs-9" 
              type="button" id="dropdownHot" data-bs-toggle="dropdown" aria-expanded="false">
        人氣熱門
      </button>
      <img src="../assets/images/down.png" alt="dropdown" width="20" height="20">
      <ul class="dropdown-menu dropdown-menu-dark bg-transparent" aria-labelledby="dropdownHot">
        <!-- <li><a class="dropdown-item  " href="#">最新上架</a></li>
        <li><a class="dropdown-item" href="#">評分最高</a></li>
        <li><a class="dropdown-item" href="#">觀看最多</a></li> -->
      </ul>
    </div>

    <!-- 篩選下拉選單 -->
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle p-0 border-0 bg-transparent text-white custom-toggle fs-9" 
              type="button" id="dropdownFilter" data-bs-toggle="dropdown" aria-expanded="false">
        篩選
      </button>
      <img src="../assets/images/down.png" alt="dropdown" width="20" height="20">
      <ul class="dropdown-menu dropdown-menu-dark bg-transparent" aria-labelledby="dropdownFilter">
        <!-- <li><a class="dropdown-item" href="#">動作片</a></li>
        <li><a class="dropdown-item" href="#">喜劇片</a></li>
        <li><a class="dropdown-item" href="#">愛情片</a></li> -->
      </ul>
    </div>
  </div>

  <!-- 卡片內容 -->
  <div class="my-4">
    <div class="row g-3">

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/friends with money.png" class="w-100 h-100 object-fit-cover" alt="friends with money">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">美國派2</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/fantastic beasts.jpg" class="w-100 h-100 object-fit-cover" alt="fantastic beasts">
          </div>
          <div class="card-body p-0">
            <span class="fs-9 text-truncate d-block">
              怪獸與他們的產物
            </span>
          </div>
        </div>
      </div>

      <!-- <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/fantastic beasts.jpg" class="w-100 h-100 object-fit-cover" alt="fantastic beasts">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">怪獸與他們的產物</span>
          </div>
        </div>
      </div> -->

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/maze runner.jpg" class="w-100 h-100 object-fit-cover" alt="maze runner">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">移動迷宮</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/joker.jpg" class="w-100 h-100 object-fit-cover" alt="joker">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">小丑</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/Miss Peregrine's Home for Peculiar Children.jpg" class="w-100 h-100 object-fit-cover" alt="Miss Peregrine's Home for Peculiar Children">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">怪奇孤兒院</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/Seinfeld.png" class="w-100 h-100 object-fit-cover" alt="joker">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">歡樂單身派對</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/tangled.jpg" class="w-100 h-100 object-fit-cover" alt="tangled">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">幸福綠皮書</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/the marvelous mrs maisel.png" class="w-100 h-100 object-fit-cover" alt="the marvelous mrs maisel">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">漫才梅索太太</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/how i met your mother.png" class="w-100 h-100 object-fit-cover" alt="how i met your mother">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">追愛總動員</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/modern family.png" class="w-100 h-100 object-fit-cover" alt="modern family">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">摩登家庭</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/squid game 2.jpg" class="w-100 h-100 object-fit-cover" alt="squid game">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">魷魚遊戲</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/dune.jpg" class="w-100 h-100 object-fit-cover" alt="dune">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">沙丘</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/la la land.png" class="w-100 h-100 object-fit-cover" alt="la la land">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">越來越愛你</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/new girls.png" class="w-100 h-100 object-fit-cover" alt="new girls">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">俏妞報到</span>
          </div>
        </div>
      </div>

      <!-- 卡片 -->
      <div class="col-4">
        <div class="card bg-transparent text-white border-0 rounded-2 mb-5 overflow-hidden" style="width: 109px; height: 181px; flex-shrink: 0;">
          <div class="mb-1" style="height: 156px;">
            <img src="../assets/images/2 broke girls.png" class="w-100 h-100 object-fit-cover" alt="2 broke girls">
          </div>
          <div class="card-body p-0">
            <span class="fs-9">破產姐妹花</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



<script type="module" src="../main.js"></script>
</body>