<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>單字收藏</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>

      <!-- Navbar&Tab -->
      <section>
        <nav class="bg-tertiary-950">
          <div class="container-fluid px-0">
            <div class="d-flex justify-content-center">
              <!-- 上方選單按鈕 -->
              <div class="top-nav nav nav-tabs w-100" id="nav-tab" role="tablist">
                <button 
                class="nav-link col-6 fs-9 active" 
                id="nav-video-tab" data-bs-toggle="tab" data-bs-target="#nav-video" type="button" role="tab" aria-controls="nav-video" aria-current="page" aria-expanded="true">影片收藏</button>
                
                <button class="nav-link col-6 fs-9" id="nav-vocab-tab" data-bs-toggle="tab" data-bs-target="#nav-vocab" type="button" role="tab" aria-controls="nav-vocab" aria-expanded="false">單字收藏</button>
              </div>
            </div>
          </div>
        </nav>
        <!-- 內容 -->
          <div class="tab-content" id="nav-tabContent">
            <!-- 影片收藏內容 -->
              <div class="tab-pane fade liner show active" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                <!-- 左側nav選單 -->
                <div class="container-fluid">
                  <nav class="pt-8 mb-5 d-flex align-items-center">
                    <ul class="type-nav nav nav-pills" id="pills-type-tab" role="tablist">
                      <li class="nav-item" role="presentation">
                        <input type="radio" class="btn-check" name="category" id="movie-input" autocomplete="off" checked>
                        <label class="nav-link px-5 py-2 fs-9 active show" id="pills-movie-tab" data-bs-toggle="pill" data-bs-target="#pills-movie" role="tab" aria-controls="pills-movie" aria-selected="true" for="movie-input">電影</label>
                      </li>
                      <li class="nav-item" role="presentation">
                        <input type="radio" class="btn-check" name="category" id="series-input" autocomplete="off">
                        <label class="nav-link px-5 py-2 fs-9 ms-n3" id="pills-series-tab" data-bs-toggle="pill" data-bs-target="#pills-series" role="tab" aria-controls="pills-series" aria-selected="false" for="series-input">影集</label>
                      </li>
                      <li class="nav-item" role="presentation">
                        <input type="radio" class="btn-check" name="category" id="anime-input" autocomplete="off">
                        <label class="nav-link px-5 py-2 fs-9 ms-n3" id="pills-anime-tab" data-bs-toggle="pill" data-bs-target="#pills-anime" role="tab" aria-controls="pills-anime" aria-selected="false" for="anime-input">動畫</label>
                      </li>
                    </ul>
  
                    <p class="text-netural-500 fs-9 me-3 ms-1">｜</p>
                    <!-- 右側nav按鈕 -->
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                      <li class="nav-item fs-9" role="presentation">
                        <input type="radio" 
                        class="btn-check" name="view" id="view1" autocomplete="off" checked>
                        <button class="nav-link px-5 py-2 fs-9 active show" id="pills-all" data-bs-toggle="pill" data-bs-target="#pills-movie" type="button" role="tab" aria-controls="pills-all" aria-selected="true" aria-pressed="true" disabled>全部</button>
                      </li>
                      <li class="nav-item fs-9" role="presentation">
                        <button class="nav-link px-5 py-2 fs-9 ms-n3" id="pills-no" data-bs-toggle="pill" data-bs-target="#pills-no" type="button" role="tab" aria-controls="pills-no" aria-selected="false" disabled>未觀看</button>
                      </li>
                      <li class="nav-item fs-9" role="presentation">
                        <button class="nav-link px-5 py-2 fs-9 ms-n3" id="pills-yes" data-bs-toggle="pill" data-bs-target="#pills-yes" type="button" role="tab" aria-controls="pills-yes" aria-selected="false" disabled>已觀看</button>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- 第二行nav -->
                <section>
                  <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between px-2">
                      <!-- 人氣熱門 -->
                      <div class="new-to-old dropdown">
                        <button class="btn text-white fs-9 align-items-center d-flex justify-content-center border-0 ps-0" type="button" id="dropdownMenuButtonList" data-bs-toggle="dropdown" aria-expanded="false">
                          人氣熱門
                          <span class="arrow-down material-symbols-outlined mb-1 ms-1">keyboard_arrow_down</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButtonList">
                          <li><a class="dropdown-item fs-9" href="#">人氣熱門</a></li>
                          <li><a class="dropdown-item fs-9" href="#">由新到舊</a></li>
                          <li><a class="dropdown-item fs-9" href="#">最近收藏</a></li>
                          <li><a class="dropdown-item fs-9" href="#">最近觀看</a></li>
                        </ul>
                      </div>
                      <div class="d-flex align-items-center ms-auto">
                        <!-- 搜尋 -->
                        <a href="#" class="text-white fs-9 d-flex align-items-center me-3">
                          搜尋
                          <span class="search material-symbols-outlined ms-1 fs-8">search</span>
                        </a>
                        </div>
                        <!-- 編輯 -->
                        <a href="#" class="text-white fs-9 d-flex align-items-center ps-2 border-start border-start-netural-500">
                          編輯
                          <span class="edit material-symbols-outlined ms-1 fs-8">edit</span>
                        </a>
                    </div>
                  </div>
                </section>
                <!-- 下方顯示內容 -->
                <div class="bottom-padding">
                  <div class="container-fluid">
                    <div class="tab-content pt-5" id="pills-tabContent">
                      <!-- 電影顯示內容 -->
                      <div class="tab-pane fade show active" id="pills-movie" role="tabpanel" aria-labelledby="pills-movie-tab">
                        <div class="d-flex justify-content-center gap-2 flex-wrap">
                          <a href="#" class="mb-8">
                            <div class="movie-1"></div>
                            <p class="text-white fs-9 mt-1 video-word">丹麥女孩</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-2"></div>
                            <p class="text-white fs-9 mt-1 video-word">小丑</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-3"></div>
                            <p class="text-white fs-9 mt-1 video-word">沙丘</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-4"></div>
                            <p class="text-white fs-9 mt-1 video-word">瀑布</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-5"></div>
                            <p class="text-white fs-9 mt-1 video-word">移動迷宮</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-6"></div>
                            <p class="text-white fs-9 mt-1 video-word">怪物與他的產物</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-7"></div>
                            <p class="text-white fs-9 mt-1 video-word">哈利波特</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-8"></div>
                            <p class="text-white fs-9 mt-1 video-word">小美人魚</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-9"></div>
                            <p class="text-white fs-9 mt-1 video-word">阿凡達</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-10"></div>
                            <p class="text-white fs-9 mt-1 video-word">怪奇孤兒院</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-11"></div>
                            <p class="text-white fs-9 mt-1 video-word">綠色奇蹟</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="movie-12"></div>
                            <p class="text-white fs-9 mt-1 video-word">寄生上流</p>
                          </a>
                        </div>
                      </div>
                      <!-- 影集顯示內容 -->
                      <div class="tab-pane fade" id="pills-series" role="tabpanel" aria-labelledby="pills-series-tab">
                        <div class="d-flex justify-content-center gap-2 flex-wrap">
                          <a href="#" class="mb-8">
                            <div class="series-1"></div>
                            <p class="text-white fs-9 mt-1 video-word">三人要守密，兩...</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="series-2"></div>
                            <p class="text-white fs-9 mt-1 video-word">六人行</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="series-3"></div>
                            <p class="text-white fs-9 mt-1 video-word">魷魚遊戲</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="series-4"></div>
                            <p class="text-white fs-9 mt-1 video-word">怪醫豪斯</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="series-5"></div>
                            <p class="text-white fs-9 mt-1 video-word">性愛自修室</p>
                          </a>
                          <a href="#" class="mb-8">
                            <div class="series-6"></div>
                          </a>
                        </div>
                      </div>
                      <!-- 動畫顯示內容 -->
                      <div class="tab-pane fade" id="pills-anime" role="tabpanel" aria-labelledby="pills-anime-tab">
                        這是動畫顯示內容
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- 單字收藏內容 -->
            <div class="tab-pane fade pt-8 m-0 liner" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">
              <div class="liner">
              <!-- 按鈕nav -->
              <section class="pb-5">
                <div class="container-fluid">
                  <div class="d-flex align-items-center">
                    <!-- nav左側dropdown -->
                    <div class="left-nav d-flex align-items-center">
                      <button class="btn btn-outline-netural-500 text-white fs-9 rounded-pill align-items-center d-flex justify-content-center" type="button" id="dropdownMenuLanguage" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../assets/images/English.png" alt="USA-flag">
                        <span class="arrow-down material-symbols-outlined mb-1">keyboard_arrow_down</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark"
                      aria-labelledby="dropdownMenuLanguage">
                        <li><a class="dropdown-item" href="#">英文</a></li>
                        <li><a class="dropdown-item" href="#">日文</a></li>
                        <li><a class="dropdown-item" href="#">韓文</a></li>
                        <li><a class="dropdown-item" href="#">西班牙文</a></li>
                      </ul>

                      <div class="dropdown ms-1">
                        <button class="btn btn-outline-netural-500 text-white fs-9 rounded-pill align-items-center d-flex justify-content-center" type="button" id="dropdownMenuButtonType" data-bs-toggle="dropdown" aria-expanded="false">
                          類別
                          <span class="arrow-down material-symbols-outlined mb-1">keyboard_arrow_down</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonType">
                          <li><a class="dropdown-item" href="#">職場</a></li>
                          <li><a class="dropdown-item" href="#">日常生活</a></li>
                          <li><a class="dropdown-item" href="#">專業</a></li>
                        </ul>
                      </div>
                    </div>
                    
                    <!-- nav右側 -->
                    <p class="text-netural-500 fs-9 mx-1">｜</p>
          
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                      <li class="nav-item fs-9" role="presentation"><input type="radio" 
                        class="btn-check" name="options" id="option1" autocomplete="off" checked>
                        <button class="nav-link px-5 py-2 fs-9 active show" id="pills-all" data-bs-toggle="pill" data-bs-target="#pills-vocab" type="button" role="tab" aria-controls="pills-vocab" aria-selected="true" aria-pressed="true" disabled>全部</button>
                      </li>
                      <li class="nav-item fs-9" role="presentation">
                        <button class="nav-link px-5 py-2 fs-9 ms-n3" id="pills-1" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="false" disabled>未掌握</button>
                      </li>
                      <li class="nav-item fs-9" role="presentation">
                        <button class="nav-link px-5 py-2 fs-9 ms-n3" id="pills-2" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false" disabled>已掌握</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>

              <!-- 篩選nav -->
              <section class="mb-5">
                <div class="container-fluid">
                  <div class="d-flex align-items-center justify-content-between">
                      <!-- 由新到舊 -->
                      <div class="new-to-old dropdown">
                        <button class="btn text-white fs-9 align-items-center d-flex justify-content-center border-0 ps-0" type="button" id="dropdownMenuButtonType" data-bs-toggle="dropdown" aria-expanded="false">
                          由新到舊
                          <span class="arrow-down material-symbols-outlined mb-1 ms-1">keyboard_arrow_down</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButtonType">
                          <li><a class="dropdown-item fs-9" href="#">由新到舊</a></li>
                          <li><a class="dropdown-item fs-9" href="#">由舊到新</a></li>
                        </ul>
                      </div>
                      <!-- 搜尋 -->
                      <div class="ms-auto d-flex align-items-center">
                        <a href="#" class="text-white fs-9 d-flex align-items-center me-3">
                          搜尋
                          <span class="search material-symbols-outlined ms-1 fs-8">search</span>
                        </a>
                        <!-- 編輯 -->
                        <a href="#" class="text-white fs-9 d-flex align-items-center ps-2 border-start border-start-netural-500">
                          編輯
                          <span class="edit material-symbols-outlined ms-1 fs-8">edit</span>
                        </a>
                      </div>
                  </div>
                </div>
              </section>
              
              <!-- 卡片區 -->
              <section class="bottom-padding">
                <div class="container-fluid">
                  <ul>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <a href="word-detail.html" class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">miraculous</h1>
                          <p class="text-white fs-9 mb-3">a.神奇的, 超自然的, 奇蹟般的</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">日常生活</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 blue-20 py-1 px-3">未掌握</button>
                        </a>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <div class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">loan</h1>
                          <p class="text-white fs-9 mb-3">v. 借款<br>n. 貸款, 借款</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">職場</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 blue-20 py-1 px-3">未掌握</button>
                        </div>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <div class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">assure</h1>
                          <p class="text-white fs-9 mb-3">v. 擔保, 確保</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">職場</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 violet-35 py-1 px-3">已掌握</button>
                        </div>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <div class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">coma</h1>
                          <p class="text-white fs-9 mb-3">n. 昏迷</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">醫療</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 violet-35 py-1 px-3">已掌握</button>
                        </div>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <div class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">dispute</h1>
                          <p class="text-white fs-9 mb-3">n. 爭議, 爭吵<br>v. 糾紛, 爭奪, 抵抗</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">職場</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 violet-35 py-1 px-3">已掌握</button>
                        </div>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <div class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">compensative</h1>
                          <p class="text-white fs-9 mb-3">a. 償還的, 償還的</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">日常生活</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 violet-35 py-1 px-3">已掌握</button>
                        </div>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="card bg-tertiary-900 p-6 rounded-3 mb-6">
                      <div class="d-flex justify-content-between">
                        <div class="me-5">
                          <h1 class="text-white fs-6 fw-bold mb-3">semantic</h1>
                          <p class="text-white fs-9 mb-3">a. 語義的</p>
                          <button class="btn fs-11 text-white rounded-pill white-20 py-1 px-3">日常生活</button>
                          <button class="btn fs-11 text-white rounded-pill ms-3 violet-35 py-1 px-3">已掌握</button>
                        </div>
    
                        <div class="d-flex flex-column justify-content-center pe-5 ps-5 border-start border-start-netural-500">
                          <a href="#" class="text-white fs-10 d-flex align-items-center mb-8">
                            英
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                          <a href="#" class="text-white fs-10 d-flex align-items-center">
                            美
                            <span class="speaker material-symbols-outlined ms-1 mb-1 align-bottom">volume_up</span>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <!-- 未掌握單字測驗按鈕 -->
                <a href="test.html" class="btn rounded-pill w-100 text-white btn-primary-500 mb-8 py-5 bottom">未掌握單字測驗</a>
                </div>
              </section>
            </div>
          </div>
      </section>
  </body>
</html>
