.top-padding{
  padding-top: 50px;
}

.banner-overlay {
  background: rgba(255, 255, 255, 0.3);   // 半透明黑色
  backdrop-filter: blur(6px);       // 模糊
  -webkit-backdrop-filter: blur(6px); // Safari 相容性
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 1;
}

.bottom-padding-home-member{
  padding-bottom: 100px;
}