.top-padding{
  padding-top: 50px;
}

.banner-overlay {
  // background: rgba(255, 255, 255, 0.3);   // 半透明黑色
  backdrop-filter: blur(6px);       // 模糊
  -webkit-backdrop-filter: blur(6px); // Safari 相容性
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 1;
}

.banner-margin{
  margin-top: -50px;
}

.bottom-padding-home-member{
  padding-bottom: 100px;
}

.badge-overlap {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-90%, -20%); // 控制重疊程度
}

.letter-spacing-title{
  letter-spacing: 0.00em;
}

.shadow-custom {
  box-shadow: 0 10px 20px rgba(0,0,0,0.35), 0 2px 6px rgba(0,0,0,0.2);
}

.carousel-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* 建議縮小漸層範圍，避免過大 */
  background: linear-gradient(
    to bottom,
    rgba(7, 4, 31, 0) 0%,       /* 頂端完全透明 */
    rgba(7, 4, 31, 1) 90%,   /* 中下段 75% 不透明度 */
    rgba(7, 4, 31, 1) 100%      /* 最底部完全不透明 */
  );
}