.review-wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  padding-bottom: 70px;
}
.review-header {
  line-height: 0;
  position: sticky;
  top: 0;
  transition: padding-bottom .6s;
  --header-width: 100px;
  --header-height: 74px;
}
.review-back-link {
  padding-right: 33px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.review-title {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, -12px);
  transition: transform .6s;
}
.review-header.scrolled {
  padding-bottom: 0 !important;
  .review-title {
    transform: translate(calc(var(--header-width) / 2 - 50%), calc(-1 * var(--header-height) / 2)) scale(.8);
  }
}

.review-list {
  margin-top: -24px;
  margin-bottom: 0;
  li {
    cursor: pointer;
  }
}