.border-white-50{
    border-color: rgba(white, 0.5);
}

.liner{
    background: linear-gradient(to bottom, rgba(32, 29, 53,1) 0%,rgba(7, 4, 31,1) 100%);
}

.speaker{
    font-size: 16px;
}

.test-padding-top{
    padding-top: 88px;
}

.test-padding-bottom{
    padding-bottom: 50px;
}

.border-netural-500-50{
    border-color: rgba($netural-500, 0.5);
}

.btn-white-30{
    background-color: rgba(white, 0.3);
    border-color: rgba(white, 0.5);
}

.party{
    width: 100px;
    height: 100px;
}